---
layout: page
title: Examples
image_sliders:
  - sd_slider
  - rr_slider
  - mc_slider
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Leandro Vian - Programming Portfolio</title>
    <link rel="stylesheet" href="stylesheets/ideal-image-slider.css">
    {% include slider_styles.html %}
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    <script src="javascripts/ideal-image-slider.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div id="header">
      
      <div class="wrapper">

        <ul class="nav">
          <li><a href="https://github.com/lvian" target="_blank" class="btn-social"><i class="fab fa-github fa-2x"></i></a></li>
          <li><a href="https://www.linkedin.com/in/leandro-vian/" target="_blank" class="btn-social"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
          <li><a href="mailto:leandrovian@hotmail.com" target="_blank" class="btn-social"><i class="fas fa-at fa-2x"></i></a></li>
        </ul>

        <!--
        <ul class="nav">
          <li class="download-title">Downloads</li>
          <li class="downloads"><a href="https://github.com/mattgraham/midnight/zipball/master" class="btn">ZIP</a></li>
          <li class="downloads"><a href="https://github.com/mattgraham/midnight/tarball/master" class="btn">TAR</a></li>
        </ul>
        -->
      </div>
    </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Leandro Vian - Programming Portfolio</h1>
          <h5>A collection of games and prototypes.</h5>
          <hr> 
          <!--
          <span class="credits left">Project maintained by <a href="https://github.com/mattgraham">mattgraham</a></span>
          <span class="credits right">This project is released under the terms of the MIT license.</span>
      		-->
        </div>

        <p>In this page I showcase games and prototypes I worked on, with more details in each project section. I worked as programmer and game designer for all of them, but as happens in most indie projects I ended up having do do even art and sound jobs. All the code produced for each project is hosted here on github an can be used by anyone.</p>

        <h3></h3>


        <!-- Sturdy Defenders -->
        <h2>Midnight Cowboy</h2>
        <div id="project-spec">
        <span class="credits left">Unity 3D game engine - C# programming language </span>
        </div>
        <p>This was the third project I developed, being more experienced in game programming and gamedesign gave me confidence to increase the scope a little bit and tackle new challenges. The project took around 9 months to be concluded</p>

        <p>This game is a top-down view 2D shooter with a old west theme, with 4 types of guns, dynamites, upgrades and 6 levels with bosses, each with its own history.</p>

        {% include slider.html selector="mc_slider" %}

    		<p>So far this project took the least amount of time while having the best UI, mechanics and art, with involved in the following aspects:</p>        
            <ul>
              <li>UI build using the NGUI plugin to controll animations, transitions etc.</li>
              <li>Game State controll with persistance for upgrades unlocked and 7 scenes manegement.</li>
              <li>Enemy spawn based on wave systems with multiple spawn points on each stage</li>
              <li>4 weapons with different rates of fire, precision, animations, sounds and bullet behaviours.
              <li>Enemy AI with 3 behaviours, agressive, balanced and defensive.</li>
              <li>Whole game "art"</li>
              <li>Upgrade system</li>
              <li>Tutorial Level</li>
	            <li>Tips, during level loading.</li>
              <li>Game sound manager, responsible for music and sfx play based on gameplay events.</li>
            </ul>

        <p>For the full Unity3D code in C# check out <a href="https://github.com/lvian/topdownshooter">Midnight Cowboy</a>.</p>


        <!-- Rock and Road -->
        <h2>Rock and Road</h2>
        <div id="project-spec">
        <span class="credits left">Unity 3D game engine - C# programming language </span>
        </div>
        <p>Rock and Road, was develeped after Sturdy Defenders reached a dead end.</p>

        <p>This game is a 2D infinite runner with a rock'n roll theme, the idea was for it to be a simple high score game as those played on online game websites. The scope was meant to be smaller than Sturdy Defenders since we no longer had artists, so in this project I programmed, drew and created some audio effects.</p>

        {% include slider.html selector="rr_slider" %}

        <p>This project was finished as we menaged to developed all ideas and mechanics we had in mind when we started, while avoiding feature creap. Some of the mechanics and topics I developed were :</p>        

            <ul>
              <li>Game and level state system, developed to acomodade the seamless menu/level transiction of a single scene game.</li>
              <li>Increasing difficulty based on distance traveled by the player.</li>
              <li>Obstacle spawn system that picked from a predefined set of obstacles based on the current difficulty</li>
              <li>Player animation controller with multiple animations based on player parameters or triggers</li>
              <li>Event systems for queuing scores and collectables values to be displayed in the UI.</li>
              <li>Game sound manager, responsible for music and sfx play based on gameplay events.</li>
              <li>Whole "art" of the project.</li>
              <li>UI build using the NGUI plugin to controll animations, transitions etc.</li>
            </ul>

        <p>For the full Unity3D code in C# check out <a href="https://github.com/lvian/Tower-Defense-Bagual">Sturdy Defenders</a>.</p>



        <!-- Midnight Cowboy -->
        <h2>Sturdy Defenders</h2>
        <div id="project-spec">
        <span class="credits left">Unity 3D game engine - C# programming language </span>
        </div>
        <p>Sturdy Defenders was the first project I focused on after starting collage, spending a lot of hours in this project that went on for a bit over one year.</p>

        <p>This game is a 3D tower defense with a steam punk theme, it was planed to have a 3 levels, 4 types of towers and 4 types enemies. The scope was meant to be small, allowing us to acquire some experience, but unfortunatly the artists involved could no longer dedicate time to the project and so we stopped a bit short from the goals we had.</p>

        <p>The game was developed using Unity3D 3.4 with the Unity WebPlayer in mind, since browsers no longer support NPAPI I imported the project in the recent version 5 of Unity, I had to fix some compatibility bugs but it worked, allowing to make some screenshots.</p>

        {% include slider.html selector="sd_slider" %}


        <p>Even though we could not finish the project, it was an oportunity to learn and implement techniques of game programming that I would not have used in regular web or software development, such as :</p>        

            <ul>
              <li>Game State controll, level transition and persistance</li>
              <li>Wave Systems</li>
              <li>Enemy Controll, statistics(speed, resistance and health), state controll and animations,
              <li>Waypoint system, guiding enemies trough the different paths in each stage.</li></li>
              <li>Tower Systems, with a grid of spots to build, construction and destruction.</li>
              <li>Tower Controll, statistics(damage, price, range), animations, guns aiming at enemies and target aquiring based on event system.
              <li>Design patterns, such as factory and singleton.</li>
            </ul>

        <p>For the full Unity3D code in C# check out <a href="https://github.com/lvian/Tower-Defense-Bagual">Sturdy Defenders</a>.</p>



        <!-- Shmup prototype -->
        <h2>Shmup prototype/study</h2>
        <div id="project-spec">
        <span class="credits left">HaxeFlixel game engine - Haxe programming language </span>
        </div>
        <p>Sturdy Defenders was the first project I focused on after starting collage, spending a lot of hours in this project that went on for a bit over one year.</p>

        <p>This game is a 3D tower defense with a steam punk theme, it was planed to have a 3 levels, 4 types of towers and 4 types enemies. The scope was meant to be small, allowing us to acquire some experience, but unfortunatly the artists involved could no longer dedicate time to the project and so we stopped a bit short from the goals we had.</p>

        <p>The game was developed using Unity3D 3.4 with the Unity WebPlayer in mind, since browsers no longer support NPAPI I imported the project in the recent version 5 of Unity, I had to fix some compatibility bugs but it worked, allowing to make some screenshots.</p>



        <p>Overall this project was an oportunity to learn and implement techniques of game programming that I would not have used in regular web or software development, such as :</p>        

            <ul>
              <li>Game State controll, level transition and persistance</li>
              <li>Wave Systems</li>
              <li>Enemy Controll, statistics(speed, resistance and health), state controll and animations,
              <li>Waypoint system, guiding enemies trough the different paths in each stage.</li></li>
              <li>Tower Systems, with a grid of spots to build, construction and destruction.</li>
              <li>Tower Controll, statistics(damage, price, range), animations, guns aiming at enemies and target aquiring based on event system.
              <li>Design patterns, such as factory and singleton.</li>
            </ul>

        <p>For the full Unity3D code in C# check out <a href="https://github.com/lvian/Tower-Defense-Bagual">Sturdy Defenders</a>.</p>





    <!--

		 <h2>What will code look like?</h2>

		<p>Your code should be beautiful, or at least that's what the designers think. </p>

		<div class="highlight">
		<pre><span class="nb">require</span> <span class="s1">'adapter/memory'</span>
		<span class="nb">require</span> <span class="s1">'toystore'</span>

		<span class="k">class</span> <span class="nc">User</span>
		  <span class="kp">include</span> <span class="no">Toy</span><span class="o">::</span><span class="no">Store</span>
		  <span class="n">adapter</span> <span class="ss">:memory</span><span class="p">,</span> <span class="p">{}</span>

		  <span class="n">attribute</span> <span class="ss">:name</span><span class="p">,</span> <span class="nb">String</span>
		<span class="k">end</span>
		</pre>
		</div>


		<p>So, this is what HTML Code looks like</p>

		<div class="highlight">
		<pre><span class="nt">&lt;html&gt;</span>
		   <span class="nt">&lt;body&gt;</span>
		      <span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">"header"</span><span class="nt">&gt;</span>
		          <span class="nt">&lt;nav&gt;</span>
		             <span class="nt">&lt;li&gt;</span>Home<span class="nt">&lt;/li&gt;</span>
		             <span class="nt">&lt;li&gt;</span>About Us<span class="nt">&lt;/li&gt;</span>
		             <span class="nt">&lt;li&gt;</span>Contact<span class="nt">&lt;/li&gt;</span>
		          <span class="nt">&lt;/nav&gt;</span>
		      <span class="nt">&lt;/div&gt;</span>
		   <span class="nt">&lt;/body&gt;</span>
		<span class="nt">&lt;/html&gt;</span>
		</pre>
		</div>


		<p>And, then maybe some CSS</p>

		<div class="highlight">
		<pre><span class="nt">body</span> <span class="p">{</span>
		  <span class="k">font</span><span class="o">:</span><span class="m">14px</span><span class="o">/</span><span class="m">22px</span> <span class="s1">'Quattrocento Sans'</span><span class="o">,</span> <span class="s2">"Helvetica Neue"</span><span class="o">,</span> <span class="n">Helvetica</span><span class="o">,</span> <span class="n">Arial</span><span class="o">,</span> <span class="k">sans-serif</span><span class="p">;</span>
		  <span class="k">color</span><span class="o">:</span><span class="m">#666</span><span class="p">;</span>
		  <span class="k">font-weight</span><span class="o">:</span><span class="m">300</span><span class="p">;</span>
		  <span class="k">margin</span><span class="o">:</span> <span class="m">0px</span><span class="p">;</span>
		  <span class="k">padding</span><span class="o">:</span><span class="m">0px</span> <span class="m">0</span> <span class="m">20px</span> <span class="m">0px</span><span class="p">;</span>
		  <span class="k">background</span><span class="o">:</span> <span class="sx">url(../images/body-background.png)</span> <span class="m">#eae6d1</span><span class="p">;</span>
		<span class="p">}</span>

		<span class="nt">h1</span><span class="o">,</span> <span class="nt">h2</span><span class="o">,</span> <span class="nt">h3</span><span class="o">,</span> <span class="nt">h4</span><span class="o">,</span> <span class="nt">h5</span><span class="o">,</span> <span class="nt">h6</span> <span class="p">{</span>
		  <span class="k">color</span><span class="o">:</span><span class="m">#333</span><span class="p">;</span>
		  <span class="k">margin</span><span class="o">:</span><span class="m">0</span> <span class="m">0</span> <span class="m">10px</span><span class="p">;</span>
		<span class="p">}</span>

		<span class="nt">p</span><span class="o">,</span> <span class="nt">ul</span><span class="o">,</span> <span class="nt">ol</span><span class="o">,</span> <span class="nt">table</span><span class="o">,</span> <span class="nt">pre</span><span class="o">,</span> <span class="nt">dl</span> <span class="p">{</span>
		  <span class="k">margin</span><span class="o">:</span><span class="m">0</span> <span class="m">0</span> <span class="m">20px</span><span class="p">;</span>
		<span class="p">}</span>
		</pre>
		</div>

        <p>Inline code would look a little different. <code>We want you to see</code> where it is, but its going to be a little less noticeable. It might also be as simple as <code>:hover</code> and as unique as <code>:first-child</code>. It is up to you. </p>

        <h2>Who's this Matt Graham?</h2>
        <p>Product designer and frontend developer at Heroku. Formerly with GitHub, Ordered List etc. Rescue diver. He can be found on <a href="http://twitter.com/#!/michigangraham">Twitter</a>, <a href="http://github.com/mattgraham">GitHub</a> and around the country for numerous events. Feel free to fork and use this team as you wish.</p>
      </section>
    </div>

  -->
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    {% include slider_scripts.html %}
  </body>
</html>

